

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
}

.cartButton {
  border: none;
  background-color: white;
  cursor: pointer;
  p {
    font-size: 20px;
  }
}

/* NEXT_PUBLIC_SUPABASE_URL=https://dwpoasnfpbdswanexiyr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3cG9hc25mcGJkc3dhbmV4aXlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjQyNzIxNTEsImV4cCI6MjAzOTg0ODE1MX0.-2HVXNtyOK_1-9g9wajCG0KWL1cMogkwIY61JlgwxeA */


.headerTitle {
  font-size: 30px;
}

.container {
  position: relative;
}

#searchBox {
  position: absolute;
  right: 30px;
  border-radius: 10px;
}

#searchBox::placeholder {
  position: relative;
  left: 5px;
}
