.App {
  height: 100%;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  z-index: 1000;

  &__cartIcon {
    width: 30px;
    height: auto;
  }
}

main {
  margin-top: 60px;
}

.cartButton {
  border: none;
  background-color: white;
  cursor: pointer;
  p {
    font-size: 20px;
  }
}

.headerTitle {
  font-size: 30px;
}

.container {
  position: relative;
  height: 100%;
  transition: all 0.5s;
  padding: 20px;
}

#searchBox {
  position: absolute;
  right: 30px;
  border-radius: 10px;
}

#searchBox::placeholder {
  position: relative;
  left: 5px;
}

.cartList {
  position: fixed;
  right: 0;
  top: 60px;
  overflow-y: scroll;
  height: 80%;

  &::-webkit-scrollbar {
    display:  none;
  }

  &__main {
    padding: 0;
    list-style-type: none;
  }

  &__item {
    list-style-type: none;
    display: block;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    img {
      width: 100px;
      height:130px;
    }
  }

  &__total {
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.cartOpen {
  & .container {
    transform: translate(-230px, 60px);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }

  & .cartList {
    &__item {
      opacity: 1;
    }

    &__total {
      opacity: 1;
    }
  }
}
